# === Bloquear carpetas de salida (EXE y OBJ) ===
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# === IDE y archivos locales ===
.vs/
*.user
*.suo
ipch/

# === Archivos sueltos que no queremos ===
*.pdb
*.ilk
*.exp
*.obj
*.log
*.tlog

# === LIBRERÍAS (Excepciones) ===
# Ignoramos todos los .lib y .dll por defecto...
*.lib
*.dll

# ...PERO obligamos a que se suban los de la carpeta 'libs'
!libs/**/*.lib
!libs/**/*.dll

# === RECURSOS (Asegurar que se suben) ===
# Si tus carpetas de imágenes/shaders están en Projecte, 
# se subirán por defecto a menos que las ignores.
